<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coreImageName</key>
		<string>CIHighlightShadowAdjust</string>
		<key>name</key>
		<string>Highlight and Shadows</string>
		<key>parameters</key>
		<array>
			<dict>
				<key>coreImageName</key>
				<string>inputHighlightAmount</string>
				<key>default</key>
				<integer>0</integer>
				<key>max</key>
				<integer>2</integer>
				<key>min</key>
				<integer>1</integer>
				<key>name</key>
				<string>Highlight Amount</string>
			</dict>
			<dict>
				<key>coreImageName</key>
				<string>inputShadowAmount</string>
				<key>default</key>
				<integer>0</integer>
				<key>max</key>
				<integer>2</integer>
				<key>min</key>
				<integer>1</integer>
				<key>name</key>
				<string>Shadow Amount</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>coreImageName</key>
		<string>CIUnsharpMask</string>
		<key>name</key>
		<string>Unsharp Mask</string>
		<key>parameters</key>
		<array>
			<dict>
				<key>coreImageName</key>
				<string>inputRadius</string>
				<key>default</key>
				<integer>0</integer>
				<key>max</key>
				<integer>2</integer>
				<key>min</key>
				<integer>1</integer>
				<key>name</key>
				<string>Radius</string>
			</dict>
			<dict>
				<key>coreImageName</key>
				<string>inputIntensity</string>
				<key>default</key>
				<integer>0</integer>
				<key>max</key>
				<integer>2</integer>
				<key>min</key>
				<integer>1</integer>
				<key>name</key>
				<string>Intensity</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>coreImageName</key>
		<string>CISharpenLuminance</string>
		<key>name</key>
		<string>Sharpen Luminance</string>
		<key>parameters</key>
		<array>
			<dict>
				<key>coreImageName</key>
				<string>inputSharpness</string>
				<key>default</key>
				<integer>0</integer>
				<key>max</key>
				<integer>2</integer>
				<key>min</key>
				<integer>1</integer>
				<key>name</key>
				<string>Sharpness</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>coreImageName</key>
		<string>CIPhotoEffectTonal</string>
		<key>name</key>
		<string>Photo Effect Tonal</string>
		<key>parameters</key>
		<array/>
	</dict>
	<dict>
		<key>coreImageName</key>
		<string>CIPhotoEffectNoir</string>
		<key>name</key>
		<string>Photo Effect Noir</string>
		<key>parameters</key>
		<array/>
	</dict>
	<dict>
		<key>coreImageName</key>
		<string>CIPhotoEffectMono</string>
		<key>name</key>
		<string>Photo Effect Mono</string>
		<key>parameters</key>
		<array/>
	</dict>
	<dict>
		<key>coreImageName</key>
		<string>CIPhotoEffectFade</string>
		<key>name</key>
		<string>Photo Effect Fade</string>
		<key>parameters</key>
		<array/>
	</dict>
	<dict>
		<key>coreImageName</key>
		<string>CIPhotoEffectChrome</string>
		<key>name</key>
		<string>Photo Effect Chrome</string>
		<key>parameters</key>
		<array/>
	</dict>
	<dict>
		<key>coreImageName</key>
		<string>CIExposureAdjust</string>
		<key>name</key>
		<string>Exposure Adjust</string>
		<key>parameters</key>
		<array>
			<dict>
				<key>coreImageName</key>
				<string>inputEV</string>
				<key>default</key>
				<integer>0</integer>
				<key>max</key>
				<integer>2</integer>
				<key>min</key>
				<integer>1</integer>
				<key>name</key>
				<string>Value</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>coreImageName</key>
		<string>CIVibrance</string>
		<key>name</key>
		<string>Vibrance</string>
		<key>parameters</key>
		<array>
			<dict>
				<key>coreImageName</key>
				<string>inputAmount</string>
				<key>default</key>
				<integer>0</integer>
				<key>max</key>
				<integer>10</integer>
				<key>min</key>
				<integer>0</integer>
				<key>name</key>
				<string>Amount</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>coreImageName</key>
		<string>CIColorControls</string>
		<key>name</key>
		<string>Color Control</string>
		<key>parameters</key>
		<array>
			<dict>
				<key>coreImageName</key>
				<string>inputSaturation</string>
				<key>default</key>
				<integer>0</integer>
				<key>max</key>
				<integer>2</integer>
				<key>min</key>
				<integer>1</integer>
				<key>name</key>
				<string>Saturation</string>
			</dict>
			<dict>
				<key>coreImageName</key>
				<string>inputBrightness</string>
				<key>default</key>
				<integer>0</integer>
				<key>max</key>
				<real>0.5</real>
				<key>min</key>
				<integer>-1</integer>
				<key>name</key>
				<string>Brightness</string>
			</dict>
			<dict>
				<key>coreImageName</key>
				<string>inputContrast</string>
				<key>default</key>
				<integer>0</integer>
				<key>max</key>
				<integer>4</integer>
				<key>min</key>
				<integer>0</integer>
				<key>name</key>
				<string>Contrast</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
